body {
    margin: 15px;
}

.cw-container {
    height: 300px;
    width: 300px;
    background-color: lightblue;
    display: inline-block;
    
    
}

.cw-text {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.cw-icon {
    color: blue;
    height: 60px;
}