body {
    margin: 15px;
}

.cw-container {
    height: 500px;
    width: 300px;
    background-color: lightblue;
    display: inline-block;
    text-align: center;
}

.cw-temp {
    color: white;
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Enriqueta', serif;
}

.cw-icon {
    height: 90px;
}

.cw-text {
    color: black;
    font-size: 30px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;

}