.hw-container {
    height: 400px;
        width: 300px;
        background-color: #414f66;
        color: white;
        border: solid black 5px;
        display: inline-block;
        text-align: center;
        font-family: 'Fira Sans Condensed', sans-serif;
    }

    .hw-container-item {
        margin: 25px;
    }

