.hw-container {
        height: 462px;
        width: 300px;
        background-color: #414f66;
        color: white;
        border: solid black 5px;
        display: inline-block;
        text-align: center;
        font-family: 'Fira Sans Condensed', sans-serif;
    }

    .hw-container div:nth-child(1) {
        background-color: #3a475b;
    }

    .hw-container div:nth-child(2) {
        background-color:#343f51;
    }

    .hw-container div:nth-child(3) {
        background-color: #2d3747;
    }

    .hw-container div:nth-child(4) {
        background-color: #272f3d;
    }

    .hw-container-item {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .hw-temp {
        color: white;
        font-size: 30px;
        font-weight: bolder;
        font-family: 'Enriqueta', serif;
        margin-bottom: 20px;
    }

    .hw-bands {
    padding: 1;
    }

